$primary-color: rgba(216, 191, 216, 0.4);
.movieView {
  padding: 0px 10px 20px 10px;
  background-color: $primary-color;
  border-radius: 10px;
};
.movieTitle {
  text-align: center;
  padding: 10px 15px;
  background-color: $primary-color;
  border-radius: 10px;
};
.favorited, .notFavorited, .notFavorited:hover {
  position: absolute;
  color: darkred;
  background-color: thistle;
  padding: 5px 10px;
  border-radius: 50px;
  transition: all 0.5s;
};
.favorited:hover, .notFavorited {
  color: black;
  transition: all 0.5s;
};